// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds {
    normal clear-defaults=true {
        // tmux
        bind "Ctrl f" { SwitchToMode "Tmux"; }
        unbind "Ctrl b"

        // Navigate windows/panes
        bind "Alt Shift Left" { MoveFocusOrTab "Left"; }
        bind "Alt Shift Down" { MoveFocus "Down"; }
        bind "Alt Shift Up" { MoveFocus "Up"; }
        bind "Alt Shift Right" { MoveFocusOrTab "Right"; }

        // Resize panes
        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt Shift =" "Alt Shift +" { Resize "Right"; }
        bind "Alt Shift -" { Resize "Left"; }
    }

    tmux clear-defaults=true {
        bind "Ctrl f" { Write 2; SwitchToMode "Normal"; }
        bind "Esc" { SwitchToMode "Normal"; }
        bind "g" { SwitchToMode "Locked"; }
        bind "p" { SwitchToMode "Pane"; }
        bind "t" { SwitchToMode "Tab"; }
        bind "n" { SwitchToMode "Resize"; }
        bind "h" { SwitchToMode "Move"; }
        bind "s" { SwitchToMode "Scroll"; }
        bind "o" { SwitchToMode "Session"; }
        bind "q" { Quit; }
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    zjstatus location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
        // -- Catppuccin Mocha --
        // color_rosewater "#f5e0dc"
        // color_flamingo "#f2cdcd"
        // color_pink "#f5c2e7"
        // color_mauve "#cba6f7"
        // color_red "#f38ba8"
        // color_maroon "#eba0ac"
        // color_peach "#fab387"
        // color_yellow "#f9e2af"
        // color_green "#a6e3a1"
        // color_teal "#94e2d5"
        // color_sky "#89dceb"
        // color_sapphire "#74c7ec"
        // color_blue "#89b4fa"
        // color_lavender "#b4befe"
        // color_text "#cdd6f4"
        // color_subtext1 "#bac2de"
        // color_subtext0 "#a6adc8"
        // color_overlay2 "#9399b2"
        // color_overlay1 "#7f849c"
        // color_overlay0 "#6c7086"
        // color_surface2 "#585b70"
        // color_surface1 "#45475a"
        // color_surface0 "#313244"
        // color_base "#1e1e2e"
        // color_mantle "#181825"
        // color_crust "#11111b"

        // -- Catppuccin Latte --
        //color_rosewater "#dc8a78"
        //color_flamingo "#dd7878"
        //color_pink "#ea76cb"
        //color_mauve "#8839ef"
        //color_red "#d20f39"
        //color_maroon "#e64553"
        //color_peach "#fe640b"
        //color_yellow "#df8e1d"
        //color_green "#40a02b"
        //color_teal "#179299"
        //color_sky "#04a5e5"
        //color_sapphire "#209fb5"
        //color_blue "#1e66f5"
        //color_lavender "#7287fd"
        //color_text "#4c4f69"
        //color_subtext1 "#5c5f77"
        //color_subtext0 "#6c6f85"
        //color_overlay2 "#7c7f93"
        //color_overlay1 "#8c8fa1"
        //color_overlay0 "#9ca0b0"
        //color_surface2 "#acb0be"
        //color_surface1 "#bcc0cc"
        //color_surface0 "#ccd0da"
        //color_base "#eff1f5"
        //color_mantle "#e6e9ef"
        //color_crust "#dce0e8"

        // -- Catppuccin Frappé --
        //color_rosewater "#f2d5cf"
        //color_flamingo "#eebebe"
        //color_pink "#f4b8e4"
        //color_mauve "#ca9ee6"
        //color_red "#e78284"
        //color_maroon "#ea999c"
        //color_peach "#ef9f76"
        //color_yellow "#e5c890"
        //color_green "#a6d189"
        //color_teal "#81c8be"
        //color_sky "#99d1db"
        //color_sapphire "#85c1dc"
        //color_blue "#8caaee"
        //color_lavender "#babbf1"
        //color_text "#c6d0f5"
        //color_subtext1 "#b5bfe2"
        //color_subtext0 "#a5adce"
        //color_overlay2 "#949cbb"
        //color_overlay1 "#838ba7"
        //color_overlay0 "#737994"
        //color_surface2 "#626880"
        //color_surface1 "#51576d"
        //color_surface0 "#414559"
        //color_base "#303446"
        //color_mantle "#292c3c"
        //color_crust "#232634"

        // -- Catppuccin Macchiato --
        //color_rosewater "#f4dbd6"
        //color_flamingo "#f0c6c6"
        //color_pink "#f5bde6"
        //color_mauve "#c6a0f6"
        //color_red "#ed8796"
        //color_maroon "#ee99a0"
        //color_peach "#f5a97f"
        //color_yellow "#eed49f"
        //color_green "#a6da95"
        //color_teal "#8bd5ca"
        //color_sky "#91d7e3"
        //color_sapphire "#7dc4e4"
        //color_blue "#8aadf4"
        //color_lavender "#b7bdf8"
        //color_text "#cad3f5"
        //color_subtext1 "#b8c0e0"
        //color_subtext0 "#a5adcb"
        //color_overlay2 "#939ab7"
        //color_overlay1 "#8087a2"
        //color_overlay0 "#6e738d"
        //color_surface2 "#5b6078"
        //color_surface1 "#494d64"
        //color_surface0 "#363a4f"
        //color_base "#24273a"
        //color_mantle "#1e2030"
        //color_crust "#181926"


        // -- Rose Pine --
        color_rosewater "#f2e9e1"
        color_flamingo "#f2e9e1"
        color_pink "#c4a7e7"
        color_mauve "#c4a7e7"
        color_red "#eb6f92"
        color_maroon "#eb6f92"
        color_peach "#f6c177"
        color_yellow "#f6c177"
        color_green "#a3be8c"
        color_teal "#9ccfd8"
        color_sky "#9ccfd8"
        color_sapphire "#9ccfd8"
        color_blue "#9ccfd8"
        color_lavender "#c4a7e7"
        color_text "#e0def4"
        color_subtext1 "#e0def4"
        color_subtext0 "#e0def4"
        color_overlay2 "#6e6a86"
        color_overlay1 "#6e6a86"
        color_overlay0 "#6e6a86"
        color_surface2 "#2e3440"
        color_surface1 "#2e3440"
        color_surface0 "#2e3440"
        color_base "#191724"
        color_mantle "#191724"
        color_crust "#191724"


        format_left   "#[bg=$color_base,fg=$sapphire]#[bg=$sapphire,fg=$crust,bold] {session} #[bg=$color_base] {mode}#[bg=$color_base] {tabs}"
        format_center "{notifications}"
        format_right  "#[bg=$color_base,fg=$flamingo]#[fg=$crust,bg=$flamingo] #[bg=$surface1,fg=$flamingo,bold] {command_user}@{command_host}#[bg=$color_base,fg=$surface1] #[bg=$color_base,fg=$maroon]#[bg=$maroon,fg=$crust]󰃰 #[bg=$surface1,fg=$maroon,bold] {datetime}#[bg=$color_base,fg=$surface1]"
        format_space  "#[bg=$color_base]"
        format_hide_on_overlength "true"
        format_precedence "lrc"

        border_enabled  "false"
        border_char     "─"
        border_format   "#[bg=$surface0]{char}"
        border_position "top"

        hide_frame_for_single_pane "false"

        mode_normal        "#[bg=$green,fg=$crust,bold] NORMAL#[bg=$color_base,fg=$green]"
        mode_tmux          "#[bg=$mauve,fg=$crust,bold] TMUX#[bg=$color_base,fg=$mauve]"
        mode_locked        "#[bg=$red,fg=$crust,bold] LOCKED#[bg=$color_base,fg=$red]"
        mode_pane          "#[bg=$teal,fg=$crust,bold] PANE#[bg=$color_base,fg=$teal]"
        mode_tab           "#[bg=$teal,fg=$crust,bold] TAB#[bg=$color_base,fg=$teal]"
        mode_scroll        "#[bg=$flamingo,fg=$crust,bold] SCROLL#[bg=$color_base,fg=$flamingo]"
        mode_enter_search  "#[bg=$flamingo,fg=$crust,bold] ENT-SEARCH#[bg=$color_base,fg=$flamingo]"
        mode_search        "#[bg=$flamingo,fg=$crust,bold] SEARCHARCH#[bg=$color_base,fg=$flamingo]"
        mode_resize        "#[bg=$yellow,fg=$crust,bold] RESIZE#[bg=$color_base,fg=$yellow]"
        mode_rename_tab    "#[bg=$yellow,fg=$crust,bold] RENAME-TAB#[bg=$color_base,fg=$yellow]"
        mode_rename_pane   "#[bg=$yellow,fg=$crust,bold] RENAME-PANE#[bg=$color_base,fg=$yellow]"
        mode_move          "#[bg=$yellow,fg=$crust,bold] MOVE#[bg=$color_base,fg=$yellow]"
        mode_session       "#[bg=$pink,fg=$crust,bold] SESSION#[bg=$color_base,fg=$pink]"
        mode_prompt        "#[bg=$pink,fg=$crust,bold] PROMPT#[bg=$color_base,fg=$pink]"

        tab_normal              "#[bg=$color_base,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue] {name}{floating_indicator}#[bg=$color_base,fg=$surface1]"
        tab_normal_fullscreen   "#[bg=$color_base,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue] {name}{fullscreen_indicator}#[bg=$color_base,fg=$surface1]"
        tab_normal_sync         "#[bg=$color_base,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue] {name}{sync_indicator}#[bg=$color_base,fg=$surface1]"
        tab_active              "#[bg=$color_base,fg=$peach]#[bg=$peach,fg=$crust,bold]{index} #[bg=$surface1,fg=$peach] {name}{floating_indicator}#[bg=$color_base,fg=$surface1]"
        tab_active_fullscreen   "#[bg=$color_base,fg=$peach]#[bg=$peach,fg=$crust,bold]{index} #[bg=$surface1,fg=$peach] {name}{fullscreen_indicator}#[bg=$color_base,fg=$surface1]"
        tab_active_sync         "#[bg=$color_base,fg=$peach]#[bg=$peach,fg=$crust,bold]{index} #[bg=$surface1,fg=$peach] {name}{sync_indicator}#[bg=$color_base,fg=$surface1]"
        tab_separator           "#[bg=$color_base] "

        tab_sync_indicator       "  "
        tab_fullscreen_indicator "  "
        tab_floating_indicator   " 󰹙 "

        notification_format_unread "#[bg=$color_base,fg=$yellow]#[bg=$yellow,fg=$crust] #[bg=$surface1,fg=$yellow] {message}#[bg=$color_base,fg=$yellow]"
        notification_format_no_notifications ""
        notification_show_interval "10"

        command_host_command    "uname -n"
        command_host_format     "{stdout}"
        command_host_interval   "0"
        command_host_rendermode "static"

        command_user_command    "whoami"
        command_user_format     "{stdout}"
        command_user_interval   "10"
        command_user_rendermode "static"

        datetime          "{format}"
        datetime_format   "%Y-%m-%d 󰅐 %H:%M"
        datetime_timezone "America/Chicago"
    }
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
// on_force_close "quit"

//  Send a request for a simplified ui (without arrow fonts) to plugins
//  Options:
//    - true
//    - false (Default)
//
// simplified_ui true

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
// default_shell "fish"

// Choose the path to override cwd that zellij will use for opening new panes
//
// default_cwd ""

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
// pane_frames true
// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible
// Options:
//   - true (default)
//   - false
//
// auto_layout true

// Whether sessions should be serialized to the cache folder (including their tabs/panes, cwds and running commands) so that they can later be resurrected
// Options:
//   - true (default)
//   - false
//
// session_serialization false

// Whether pane viewports are serialized along with the session, default is false
// Options:
//   - true
//   - false (default)
// serialize_pane_viewport true

// Scrollback lines to serialize along with the pane viewport when serializing sessions, 0
// defaults to the scrollback size. If this number is higher than the scrollback size, it will
// also default to the scrollback size. This does nothing if `serialize_pane_viewport` is not true.
//
// scrollback_lines_to_serialize 10000

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
themes {
  catppuccin-latte {
    bg "#acb0be" // Surface2
    fg "#acb0be" // Surface2
    red "#d20f39"
    green "#40a02b"
    blue "#1e66f5"
    yellow "#df8e1d"
    magenta "#ea76cb" // Pink
    orange "#fe640b" // Peach
    cyan "#04a5e5" // Sky
    black "#dce0e8" // Crust
    white "#4c4f69" // Text
  }

  catppuccin-frappe {
    bg "#626880" // Surface2
    fg "#c6d0f5"
    red "#e78284"
    green "#a6d189"
    blue "#8caaee"
    yellow "#e5c890"
    magenta "#f4b8e4" // Pink
    orange "#ef9f76" // Peach
    cyan "#99d1db" // Sky
    black "#292c3c" // Mantle
    white "#c6d0f5"
  }

  catppuccin-macchiato {
    bg "#5b6078" // Surface2
    fg "#cad3f5"
    red "#ed8796"
    green "#a6da95"
    blue "#8aadf4"
    yellow "#eed49f"
    magenta "#f5bde6" // Pink
    orange "#f5a97f" // Peach
    cyan "#91d7e3" // Sky
    black "#1e2030" // Mantle
    white "#cad3f5"
  }

  catppuccin-mocha {
    bg "#585b70" // Surface2
    fg "#cdd6f4"
    red "#f38ba8"
    green "#a6e3a1"
    blue "#89b4fa"
    yellow "#f9e2af"
    magenta "#f5c2e7" // Pink
    orange "#fab387" // Peach
    cyan "#89dceb" // Sky
    black "#181825" // Mantle
    white "#cdd6f4"
  }

  rose-pine-moon {
    bg "#44415a"
    fg "#e0def4"
    red "#eb6f92"
    green "#3e8fb0"
    blue "#9ccfd8"
    yellow "#f6c177"
    magenta "#c4a7e7"
    orange "#fe640b"
    cyan "#ea9a97"
    black "#393552"
    white "#e0def4"
  }
}

// Choose the theme that is specified in the themes section.
// Default: default
//
theme "rose-pine-moon"

ui {
  pane_frames {
    rounded_corners true
  }
}

// The name of the default layout to load on startup
// Default: "default"
//
// default_layout "compact"

// Choose the mode that zellij uses when starting up.
// Default: normal
//
// default_mode "locked"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
//
// mouse_mode false

// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// Valid values: positive integers
// Default value: 10000
//
// scroll_buffer_size 10000

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//
// copy_clipboard "primary"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// Default: true
//
// copy_on_select false

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
// scrollback_editor "/usr/bin/vim"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

// The folder in which Zellij will look for layouts
//
// layout_dir "/path/to/my/layout_dir"

// The folder in which Zellij will look for themes
//
// theme_dir "/path/to/my/theme_dir"

// Enable or disable the rendering of styled and colored underlines (undercurl).
// May need to be disabled for certain unsupported terminals
// Default: true
//
// styled_underlines false

// Enable or disable writing of session metadata to disk (if disabled, other sessions might not know
// metadata info on this session)
// Default: false
//
// disable_session_metadata true
