.stow-local-ignore
.tool-versions
.config/mise/config.*.toml
.config/mise/mise.*.toml
.config/zellij/layouts/*
.config/zellij/config.*.kdl
!.config/zellij/layouts/default.kdl
.config/opencode/cache
.config/nvim/lazy-lock.json

.serena/logs/*
.serena/language_servers

**/*.backup
**/.DS_Store
