layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }

        children
    }

    tab name="Main" split_direction="vertical" {
       pane 
    }

    tab name="Dotfiles & Notes" {
        pane split_direction="horizontal" stacked=true {
            pane {
                name "Dotfiles"
                cwd "~/dotfiles/.config"
                command "nvim"
            }

            pane {
                start_suspended true
                name "Obsidian - BKE"
                cwd "~/Library/Mobile Documents/iCloud~md~obsidian/Documents/BKE"
                command "nvim"
            }

            pane {
                start_suspended true
                name "Obsidian - TNYPXL"
                cwd "~/Library/Mobile Documents/iCloud~md~obsidian/Documents/TNYPXL"
                command "nvim"
            }
        }
    }
}
