layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/dotfiles/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{mode}#[bg=#1F1F28] {tabs}"
                format_center ""
                format_right  "#[bg=#1F1F28,fg=#7E9CD8]█#[bg=#7E9CD8,fg=#16161D,bold] #[bg=#2A2A37,fg=#7E9CD8,bold] {session} #[bg=#1F1F28,fg=#2A2A37,bold]"
                format_space  ""
                format_hide_on_overlength "true"
                format_precedence "crl"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#54546D]{char}"
                border_position "top"

                mode_normal        "#[bg=#98BB6C,fg=#1F1F28,bold] NORMAL#[bg=#1F1F28,fg=#98BB6C]█"
                mode_locked        "#[bg=#E46876,fg=#1F1F28,bold] LOCKED #[bg=#1F1F28,fg=#E46876]█"
                mode_resize        "#[bg=#E46876,fg=#1F1F28,bold] RESIZE#[bg=#1F1F28,fg=#E46876]█"
                mode_pane          "#[bg=#7E9CD8,fg=#1F1F28,bold] PANE#[bg=#1F1F28,fg=#7E9CD8]█"
                mode_tab           "#[bg=#957FB8,fg=#1F1F28,bold] TAB#[bg=#1F1F28,fg=#957FB8]█"
                mode_scroll        "#[bg=#FF9E3B,fg=#1F1F28,bold] SCROLL#[bg=#1F1F28,fg=#FF9E3B]█"
                mode_enter_search  "#[bg=#7FB4CA,fg=#1F1F28,bold] ENT-SEARCH#[bg=#1F1F28,fg=#7FB4CA]█"
                mode_search        "#[bg=#7FB4CA,fg=#1F1F28,bold] SEARCHARCH#[bg=#1F1F28,fg=#7FB4CA]█"
                mode_rename_tab    "#[bg=#E6C384,fg=#1F1F28,bold] RENAME-TAB#[bg=#1F1F28,fg=#E6C384]█"
                mode_rename_pane   "#[bg=#E6C384,fg=#1F1F28,bold] RENAME-PANE#[bg=#1F1F28,fg=#E6C384]█"
                mode_session       "#[bg=#7E9CD8,fg=#1F1F28,bold] SESSION#[bg=#1F1F28,fg=#7E9CD8]█"
                mode_move          "#[bg=#D27E99,fg=#1F1F28,bold] MOVE#[bg=#1F1F28,fg=#D27E99]█"
                mode_prompt        "#[bg=#7FB4CA,fg=#1F1F28,bold] PROMPT#[bg=#1F1F28,fg=#7FB4CA]█"
                mode_tmux          "#[bg=#FFA066,fg=#1F1F28,bold] TMUX#[bg=#1F1F28,fg=#FFA066]█"

                // formatting for inactive tabs
                tab_normal              "#[bg=#1F1F28,fg=#7E9CD8]█#[bg=#7E9CD8,fg=#16161D,bold]{index} #[bg=#2A2A37,fg=#7E9CD8,bold] {name}{floating_indicator}#[bg=#1F1F28,fg=#2A2A37,bold]█"
                tab_normal_fullscreen   "#[bg=#1F1F28,fg=#7E9CD8]█#[bg=#7E9CD8,fg=#16161D,bold]{index} #[bg=#2A2A37,fg=#7E9CD8,bold] {name}{fullscreen_indicator}#[bg=#1F1F28,fg=#2A2A37,bold]█"
                tab_normal_sync         "#[bg=#1F1F28,fg=#7E9CD8]█#[bg=#7E9CD8,fg=#16161D,bold]{index} #[bg=#2A2A37,fg=#7E9CD8,bold] {name}{sync_indicator}#[bg=#1F1F28,fg=#2A2A37,bold]█"

                // formatting for the current active tab
                tab_active              "#[bg=#1F1F28,fg=#FFA066]█#[bg=#FFA066,fg=#16161D,bold]{index} #[bg=#2A2A37,fg=#FFA066,bold] {name}{floating_indicator}#[bg=#1F1F28,fg=#2A2A37,bold]█"
                tab_active_fullscreen   "#[bg=#1F1F28,fg=#FFA066]█#[bg=#FFA066,fg=#16161D,bold]{index} #[bg=#2A2A37,fg=#FFA066,bold] {name}{fullscreen_indicator}#[bg=#1F1F28,fg=#2A2A37,bold]█"
                tab_active_sync         "#[bg=#1F1F28,fg=#FFA066]█#[bg=#FFA066,fg=#16161D,bold]{index} #[bg=#2A2A37,fg=#FFA066,bold] {name}{sync_indicator}#[bg=#1F1F28,fg=#2A2A37,bold]█"

                // separator between the tabs
                tab_separator           "#[bg=#1F1F28] "

                // indicators
                tab_sync_indicator       "  "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙 "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=#54546D,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "America/Chicago"
            }
        }

        children
    }

    tab name="MAIN" split_direction="vertical" {
       pane focus=true
    }

    tab name="DOTFILES + NOTES" split_direction="vertical" {
        pane split_direction="horizontal" stacked=true {
            pane {
                start_suspended true
                name "Dotfiles"
                cwd "~/dotfiles/"
                command "nvim"
            }

            pane {
                start_suspended true
                name "Obsidian"
                cwd "~/Library/Containers/nl.t-shaped.Sushitrain/Data/Documents/obsidian/TNYPXL"
                command "nvim"
            }

            pane focus=true
        }
    }
}
