layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zjstatus" {
                // -- Rose Pine --
                //color_rosewater "#f2e9e1"
                //color_flamingo "#f2e9e1"
                //color_pink "#c4a7e7"
                //color_mauve "#c4a7e7"
                //color_red "#eb6f92"
                //color_maroon "#eb6f92"
                //color_peach "#f6c177"
                //color_yellow "#f6c177"
                //color_green "#a3be8c"
                //color_teal "#9ccfd8"
                //color_sky "#9ccfd8"
                //color_sapphire "#9ccfd8"
                //color_blue "#9ccfd8"
                //color_lavender "#c4a7e7"
                //color_text "#e0def4"
                //color_subtext1 "#e0def4"
                //color_subtext0 "#e0def4"
                //color_overlay2 "#6e6a86"
                //color_overlay1 "#6e6a86"
                //color_overlay0 "#6e6a86"
                //color_surface2 "#2e3440"
                //color_surface1 "#2e3440"
                //color_surface0 "#2e3440"
                //color_base "#191724"
                //color_mantle "#191724"
                //color_crust "#191724"
                
                format_left "#[bg=$color_base,fg=$sapphire]#[bg=$sapphire,fg=$crust,bold] {session} #[bg=$color_base] {mode}#[bg=$color_base] {tabs}"
                format_center "{notifications}"
                format_right "#[bg=$color_base,fg=$flamingo]#[fg=$crust,bg=$flamingo] #[bg=$surface1,fg=$flamingo,bold] {command_user}@{command_host}#[bg=$color_base,fg=$surface1] #[bg=$color_base,fg=$maroon]#[bg=$maroon,fg=$crust]󰃰 #[bg=$surface1,fg=$maroon,bold] {datetime}#[bg=$color_base,fg=$surface1]"
                format_space "#[bg=$color_base]"
                format_hide_on_overlength "true"
                format_precedence "lrc"
                
                border_enabled "false"
                border_char "─"
                border_format "#[bg=$surface0]{char}"
                border_position "top"
                
                hide_frame_for_single_pane "false"
                
                mode_normal "#[bg=$green,fg=$crust,bold] NORMAL#[bg=$color_base,fg=$green]"
                mode_tmux "#[bg=$mauve,fg=$crust,bold] TMUX#[bg=$color_base,fg=$mauve]"
                mode_locked "#[bg=$red,fg=$crust,bold] LOCKED#[bg=$color_base,fg=$red]"
                mode_pane "#[bg=$teal,fg=$crust,bold] PANE#[bg=$color_base,fg=$teal]"
                mode_tab "#[bg=$teal,fg=$crust,bold] TAB#[bg=$color_base,fg=$teal]"
                mode_scroll "#[bg=$flamingo,fg=$crust,bold] SCROLL#[bg=$color_base,fg=$flamingo]"
                mode_enter_search "#[bg=$flamingo,fg=$crust,bold] ENT-SEARCH#[bg=$color_base,fg=$flamingo]"
                mode_search "#[bg=$flamingo,fg=$crust,bold] SEARCHARCH#[bg=$color_base,fg=$flamingo]"
                mode_resize "#[bg=$yellow,fg=$crust,bold] RESIZE#[bg=$color_base,fg=$yellow]"
                mode_rename_tab "#[bg=$yellow,fg=$crust,bold] RENAME-TAB#[bg=$color_base,fg=$yellow]"
                mode_rename_pane "#[bg=$yellow,fg=$crust,bold] RENAME-PANE#[bg=$color_base,fg=$yellow]"
                mode_move "#[bg=$yellow,fg=$crust,bold] MOVE#[bg=$color_base,fg=$yellow]"
                mode_session "#[bg=$pink,fg=$crust,bold] SESSION#[bg=$color_base,fg=$pink]"
                mode_prompt "#[bg=$pink,fg=$crust,bold] PROMPT#[bg=$color_base,fg=$pink]"
                
                tab_normal "#[bg=$color_base,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue] {name}{floating_indicator}#[bg=$color_base,fg=$surface1]"
                tab_normal_fullscreen "#[bg=$color_base,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue] {name}{fullscreen_indicator}#[bg=$color_base,fg=$surface1]"
                tab_normal_sync "#[bg=$color_base,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue] {name}{sync_indicator}#[bg=$color_base,fg=$surface1]"
                tab_active "#[bg=$color_base,fg=$peach]#[bg=$peach,fg=$crust,bold]{index} #[bg=$surface1,fg=$peach] {name}{floating_indicator}#[bg=$color_base,fg=$surface1]"
                tab_active_fullscreen "#[bg=$color_base,fg=$peach]#[bg=$peach,fg=$crust,bold]{index} #[bg=$surface1,fg=$peach] {name}{fullscreen_indicator}#[bg=$color_base,fg=$surface1]"
                tab_active_sync "#[bg=$color_base,fg=$peach]#[bg=$peach,fg=$crust,bold]{index} #[bg=$surface1,fg=$peach] {name}{sync_indicator}#[bg=$color_base,fg=$surface1]"
                tab_separator "#[bg=$color_base] "
                tab_sync_indicator "  "
                tab_fullscreen_indicator "  "
                tab_floating_indicator " 󰹙 "
                
                notification_format_unread "#[bg=$color_base,fg=$yellow]#[bg=$yellow,fg=$crust] #[bg=$surface1,fg=$yellow] {message}#[bg=$color_base,fg=$yellow]"
                notification_format_no_notifications ""
                notification_show_interval "10"
                
                command_host_command "uname -n"
                command_host_format "{stdout}"
                command_host_interval "0"
                command_host_rendermode "static"
                command_user_command "whoami"
                command_user_format "{stdout}"
                command_user_interval "10"
                command_user_rendermode "static"
                
                datetime "{format}"
                datetime_format "%Y-%m-%d 󰅐 %H:%M"
                datetime_timezone "America/Chicago"
            }
        }

        children
    }

    tab name="Main" {
        pane
    }
}
