console_title_template = '{{.UserName }} @ {{.PWD}}'
version = 4
final_space = true

[secondary_prompt]
template = '❯❯ '
foreground = 'magenta'
background = 'transparent'

[transient_prompt]
template = '❯ '
background = 'transparent'
foreground_templates = [
  '{{if gt .Code 0}}red{{end}}',
  '{{if eq .Code 0}}magenta{{end}}',
]

[[blocks]]
type = 'prompt'
alignment = 'left'

[[blocks.segments]]
template = '  {{ .Folder }}'
foreground = 'blue'
background = 'transparent'
type = 'path'
style = 'plain'

[blocks.segments.options]
style = 'full'

[[blocks.segments]]
template = ' {{ .UpstreamIcon }} {{ .HEAD }}{{if .BranchStatus }} {{ .BranchStatus }}{{ end }}{{ if .Working.Changed }}  {{ .Working.String }}{{ end }}{{ if and (.Working.Changed) (.Staging.Changed) }} |{{ end }}{{ if .Staging.Changed }}  {{ .Staging.String }}{{ end }}{{ if gt .StashCount 0 }}  {{ .StashCount }}{{ end }}'
foreground = 'p:grey'
background = 'transparent'
type = 'git'
style = 'plain'

[blocks.segments.options]
branch_icon = ''
commit_icon = '@'
fetch_status = true
fetch_upstream_icon = true

[[blocks.segments]]
template = ' |  {{ .Full }}'
foreground = 'red'
type = 'ruby'
style = 'plain'

[[blocks.segments]]
template = ' |  {{ .Full }}'
foreground = 'blue'
type = 'go'
style = 'plain'

[[blocks.segments]]
template = ' |  {{ .Full }}'
foreground = 'green'
type = 'node'
style = 'plain'

[[blocks.segments]]
template = ' | 󱁢 {{ .Version }}'
foreground = 'blue'
type = 'terraform'
style = 'plain'

[[blocks.segments]]
template = ' |  {{ .Version }}'
foreground = 'yellow'
type = 'python'
style = 'plain'

[[blocks]]
type = 'rprompt'
overflow = 'hidden'

[[blocks.segments]]
template = '{{ .FormattedMs }}'
foreground = 'yellow'
background = 'transparent'
type = 'executiontime'
style = 'plain'

[blocks.segments.options]
threshold = 5000

[[blocks]]
type = 'prompt'
alignment = 'left'
newline = true

[[blocks.segments]]
template = '❯'
background = 'transparent'
type = 'text'
style = 'plain'
foreground_templates = [
  '{{if gt .Code 0}}red{{end}}',
  '{{if eq .Code 0}}magenta{{end}}',
]
